<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>

  <div>
    
    <form id="searchForm" action="/signin" method="POST">

      <label class="buscar">Email:</label>
      <input type="text" name="email" id="searchInput" class="" placeholder="Email">

      <label class="buscar">Password:</label>
      <input type="password" name="password" id="searchInput" class="" placeholder="Password">

      <div class="botones"><button type="submit" class="user">Enviar</button></div>

    </form>

  </div>

  <% if (typeof error !=='undefined' ) { %>

    <p class="error">
      <% if (error.code === 'auth/wrong-password') { %>

        Contraseña incorrecta

      <% } else if (error.code === 'auth/user-not-found') { %>

        Usuario no encontrado

      <% } else { %>

        Algo salió mal

      <% } %>
    </p>
  
  <% } %>

<%- include('./templates/footer.ejs') %>