* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.navbar.admin a:hover {
    color: #2980b9;
}

.navbar.user a:hover {
    color: #2b255a;
}

.admin {
    background-color: #3498db;
}

.user {
    background-color: #6941c0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 20px;
}

.card {
    background-color: #fff;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card img {
    max-width: 80%;
}

.imagen {
    text-align: center;
}

.fecha {
    font-size: 1.5rem;
    margin: 10px 800px 10px 0; 
}

.titulo {
    font-size: 1.5rem;
    margin: 0 ;
}

.extracto {
    font-size: 1rem;
    margin: 0;
}

.cuerpo {
    font-size: 1.2rem;
    margin: 0;
}

.error {
    font-size: 1.5rem;
    margin: 30px ;
    text-align: center;
    color: red;
}

.paginacion {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.botones {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.botones button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.botones.admin button:hover {
    background-color: #2980b9;
}

.botones.user button:hover {
    background-color: #2b255a;
}

.botones a {
    text-decoration: none;
    color: #fff;
}

.create-form {
    margin-top: 20px;
}

.create-form input[type="file"] {
    margin-left: 10%;
}

.create-form input[type="text"],

.create-form textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: grey;
    display: block;
    width: 80%;
    max-width: 500px;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 6px auto;
    resize: vertical;
}

.create-form input[type="file"] {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 0 auto 15px;
}

.create-form input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

.create-form h1 {
    text-align: center;
    color: var(--dark-blue);
    margin: 30px;
}

#searchForm {
    margin: auto;
}

#searchForm {
    position: relative;
    width: 100%;
    max-width: 17em;
    margin-top: 20px;
}

#searchInput {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 10px;
}

#searchInput:focus {
    outline: none;
    border-color: #2b255a;
}

.buscar {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px;
}




/* Estilos para pantallas mayores a 768px */
@media screen and (min-width: 768px) {}

/* Estilos para pantallas mayores a 992px */
@media screen and (min-width: 992px) {}

/* Estilos para pantallas mayores a 1200px */
@media screen and (min-width: 1200px) {}