<nav class="navbar admin">
    <ul>
      <li><a href="/admin">Acceso a artículos</a></li>
      <li><a href="/admin/create-form">Crear Artículo</a></li>
      <li><a href="/">Zona suario</a></li>
      <li><a href="/admin/signup-form">Registro</a></li>
      <li class="logout"><a href="/admin/logout">Logout</a></li>
    </ul>
  </nav>